.profile__add-btn {
  position: absolute;
  top: 75px;
  right: 0px;

  background-color: #000;
  box-sizing: border-box;
  border: 2px solid #fff;
  border-radius: 2px;
  height: 50px;
  width: 150px;


  display: flex;
  justify-content: center;
  align-items: center;

  transition: opacity 0.5s linear;
}

.profile__add-btn:focus {
  outline: none;
}


.profile__add-btn:hover {
  cursor: pointer;
  opacity: 0.6;
}


