.popup__button {
  margin-top: 29px;
  width: 100%;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  min-height: 50px;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 2px;
  transition: opacity  0.5s linear;
}

.popup__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 820px) {
  .popup__button {
    margin-top: 30px;
  }
}
