.header {
  min-height: 119px;
  border-bottom: 1px solid #545454b3;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 882px;
}

@media screen and (max-width: 920px) {
  .header {
    min-height: 84px;
  }
}
