.popup-edit__btn-save {
  margin-top: 49px;
  width: 100%;
  border: 0;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  min-height: 50px;
  cursor: pointer;
}

@media screen and (max-width: 820px) {
  .popup-edit__btn-save {
    margin-top: 44px;
  }
}
