.profile__edit-btn {
  background-color: #000;
  box-sizing: border-box;
  border: 1px solid #fff;
  height: 24px;
  width: 24px;
  border-radius: 0;
  margin-bottom: 14px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: opacity 0.5s linear;
}

.profile__edit-btn:focus {
  outline: none;
}

.profile__edit-btn:hover {
  cursor: pointer;
  opacity: 0.6;
}


@media screen and (max-width: 820px) {
  .profile__edit-btn {
    height: 18px;
    width: 18px;
    margin-bottom: 4px;
    margin-left: 3px;
  }
}
