.profile__edit-btn {

  position: absolute;
  top: 77px;
  right: 0;

  background-color: #000;
  box-sizing: border-box;
  border: 1px solid #fff;
  height: 24px;
  width: 24px;
  border-radius: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: opacity 0.5s linear;
}

.profile__edit-btn:focus {
  outline: none;
}

.profile__edit-btn:hover {
  cursor: pointer;
  opacity: 0.6;
}


@media screen and (max-width: 820px) {
  .profile__edit-btn {
    top:36px;
    height: 18px;
    width: 18px;
  }
}
