.popup__btn-close {
  position: absolute;
  top: -34px;
  right: -33px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-image: url('../../../images/closeIcon.svg');
  background-position: center;
  background-size: inherit;
  border: none;
  background-color: rgba(0,0,0,0);
  box-sizing: border-box;
  transition: opacity 0.5s linear;
}

.popup__btn-close:focus {
  outline: none;
}

.popup__btn-close:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media screen and (max-width: 820px) {
  .popup__btn-close {
    top: -45px;
    right: 5px;
    width: 26px;
    height: 26px;
  }
}
