@import '../vendor/normalize.css';
@import '../vendor/fonts/fonts.css';

@import '../blocks/page/page.css';
@import '../blocks/container/container.css';

@import '../blocks/header/header.css';
@import '../blocks/header/__logo/header__logo.css';

@import '../blocks/profile/profile.css';
@import '../blocks/profile/__avatar/profile__avatar.css';
@import '../blocks/profile/__info/profile__info.css';
@import '../blocks/profile/__name/profile__name.css';
@import '../blocks/profile/__job/profile__job.css';
@import '../blocks/profile/__edit-btn/profile__edit-btn.css';
@import '../blocks/profile/__add-btn/profile__add-btn.css';

@import '../blocks/elements/elements.css';

@import '../blocks/element/element.css';
@import '../blocks/element/__delete-btn/element__delete-btn.css';
@import '../blocks/element/__img/element__img.css';
@import '../blocks/element/__description/element__description.css';
@import '../blocks/element/__title/element__title.css';
@import '../blocks/element/__like-btn/element__like-btn.css';
@import '../blocks/element/__like-btn/_liked/element__like-btn_liked.css';

@import '../blocks/footer/footer.css';
@import '../blocks/footer/__copyright/footer__copyright.css';

@import '../blocks/popup/popup.css';
@import '../blocks/popup/_is-open/popup_is-open.css';

@import '../blocks/popup-edit/__btn-close/popup-edit__btn-close.css';
@import '../blocks/popup-edit/__container/popup-edit__container.css';
@import '../blocks/popup-edit/__field/popup-edit__field.css';
@import '../blocks/popup-edit/__field-job/popup-edit__field_job.css';
@import '../blocks/popup-edit/__filed-name/popup-edit__filed_name.css';
@import '../blocks/popup-edit/__form/popup-edit__form.css';
@import '../blocks/popup-edit/__title/popup-edit__title.css';
@import '../blocks/popup-edit/__btn-save/popup-edit__btn-save.css';

@import '../blocks/popup-add/__btn-close/popup-add__btn-close.css';
@import '../blocks/popup-add/__container/popup-add__container.css';
@import '../blocks/popup-add/__field/popup-add__field.css';
@import '../blocks/popup-add/__field-job/popup-add__filed_name.css';
@import '../blocks/popup-add/__filed-name/popup-add__field_link.css';
@import '../blocks/popup-add/__form/popup-add__form.css';
@import '../blocks/popup-add/__title/popup-add__title.css';
@import '../blocks/popup-add/__btn-save/popup-add__btn-create.css';

@import '../blocks/popup-picture/__container/popup-picture__container.css';
@import '../blocks/popup-picture/__btn-close/popup-picture__btn-close.css';
@import '../blocks/popup-picture/__img/popup-picture__img.css';
@import '../blocks/popup-picture/__description/popup-picture__description.css';
